<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'etapaUno/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link rel="icon" href="{% static 'etapaUno/img/LOGO1.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'etapaUno/css/estilos.css' %}">
    <link href="{% static 'etapaUno/css/lala.css' %}" rel="stylesheet">
    <title>Inicio</title>
</head>
<body class="container">
    <!--BARRA MENÚ NAVBAR navbar-light bg-white-->
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <div class="container-fluid">
            <!-- logo del sitio-->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'etapaUno/img/LOGO.png' %}" width="100" height="100" alt="">
            </a>
            <!-- boton amburguesa-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- enlaces del menu-->
            <div class="collapse navbar-collapse" id="opciones">   
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'galeria' %}">Galería Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'crearPublicacion' %}">Publicar</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="{% url 'crearPublicacion' %}" target="_blank">
                        <div class="card w-100 card-border mb-4">
                            <img src="{% static 'etapaUno/img/card01.png' %}" width="50" height="50" alt="">
                        </div> 
                    </a>
                </li>-->
                <div class="container">
                    <button id="btn" class="btn btn-dark">modo oscuro</button>
                </div>
            </ul>
            </div>

        </div>
    </nav>

    <br>
    <!--CARROUSEL-->
    <div id="carousel1" class="carousel carousel-dark slide" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel1" data-slide-to="1"></li>
        <li data-target="#carousel1" data-slide-to="2"></li>
        </ol>
        <!-- diapositivas -->
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'etapaUno/img/01.png' %}" alt="">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'etapaUno/img/02.png' %}" alt="">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'etapaUno/img/03.png' %}" alt="">
        </div>
        </div>
        <!-- botones de desplazamiento a izquierda y derecha -->      
        <a class="carousel-control-prev" type="button" href="#carousel1" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
        </a>
        <a class="carousel-control-next" type="button" href="#carousel1" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
        </a>
    </div>

    <!--SEPARADOR-->
    <div id="separator-ribbon">
        <div class="content bg-warning"></div>
    </div>

    <br>

    <!--targetas para empezar interaccion
    <div class="row justify-content-center">
        <div class="col-4">
            <a href="#" target="_blank">
            <div class="card w-100 card-border mb-4">
                <img src="{% static 'etapaUno/img/card01.png' %}" alt="">
            </div> 
            </a>
        </div> 
    </div>

    <br><br>-->


    <!--seccion ejemplo de la gestion-->
    <main>
    <section>
        <div class="container">

            <!--<div class="row">-->

                {%for po in datos %}
                <div class="container w-50 pt-5 text-center">
                    <div class="card w-100 card-border mb-5">
                        <br>
                        <div class="w-100 card-border mb-5 container">
                            <p class="w-100">{{po.lapublicacion}}</p>
                        </div>

                        <div class="w-100 mb-5">
                            <div>
                                <h5>Region Metropolitana</h5>
                                <h5>{{po.fecha}}</h5>
                                <h5>{{po.comuna}}</h5>
                                <button class="btn btn-outline-light p-3 shadow-sm" type="button">
                                    <a href="{% url 'form_mod_publicacion' po.id%}">Modificar</a>
                                </button>
                                <button class="btn btn-outline-light p-3 shadow-sm" type="button">
                                    <a href="{% url 'form_del_publicacion' po.id%}">Eliminar</a>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                {%endfor%}

            <!--</div>-->

        </div>
    </section>
    </main>
    

    <!--FOOTER-->
    <div id="footer" class="px-5">
        <div class="container w-50 pt-5">

            <div class="row row-cols-md-2 justify-content-md-center">
                <div class="col text-center">
                    <a href="#">
                        <button class="btn btn-lg rounded-pill btn-warning w-100 p-3 shadow-sm font-weight-bold" type="button">
                            Contáctenos
                        </button>
                    </a>
                    <br><br>
                    <a href="https://www.instagram.com/" target="_blank">
                        <img class="iconos-redes-header" src="{% static 'etapaUno/img/link01.png' %}" alt="Instagram">                     
                    </a>
                    
                    <a href="https://web.whatsapp.com/" target="_blank">
                        <img class="iconos-redes-header" src="{% static 'etapaUno/img/link02.png' %}" alt="Whatsapp">
                    </a>
                
                    <a href="https://www.google.com/" target="_blank">
                        <img class="iconos-redes-header" src="{% static 'etapaUno/img/link03.png' %}" alt="Google">
                    </a>
                
                    <a href="https://www.facebook.com/" target="_blank">
                        <img class="iconos-redes-header" src="{% static 'etapaUno/img/link04.png' %}" alt="Facebook">
                    </a>
                    

                </div>
            </div>
            <br>
            <div class="row row-cols-md-2 justify-content-md-center">
                <div class="col text-center font-weight-light">
                    <p>Gonzalo Rodriguez, Marco Salinas, Thomas Valenzuela - Copyright 2021 All rights reserved ©
                    </p>
                </div>
            </div>

        </div>
    </div>
    <!--FIN DEL FOOTER-->




    <!--script de jquery-->
    <script src="{% static 'etapaUno/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'etapaUno/js/popper.min.js' %}"></script>
    <script src="{% static 'etapaUno/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'etapaUno/js/main.js' %}"></script>
</body>
</html>